
  <div class="form" style="margin-top: 65px;" >
      
      <ul class="tab-group">
        <li class="tab " id='sign-up'><a href="#signup" >Sign Up</a></li>
        <li class="tab" id='log-in'><a href="#login">Log In</a></li>
      </ul>
      
      <div class="tab-content">
        <div id="signup">   
          
          <%= render "devise/registrations/new" %>
          
        </div>
        
        <div id="login">  

          <%= render "devise/sessions/new" %> 
          
        </div>
        
      </div>

    